header { 
    grid-area: header;
    height: 10vh;
}

layers { 
    grid-area: layers;
    height: 100vh; 
}

timeline { 
    grid-area: timeline;
    height: calc(100vh - 115px);
}

playback-controls { 
    grid-area: playback-controls; 
    height: 115px;
}

.grid-container {
    //width: 100vw;
    //height: 100vh;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas:
    'header header'
    'layers timeline'
    'layers playback-controls';
}
