<div class="playback-controls">
  <button (click)="trackService.togglePlay()">
    <i class="material-icons" *ngIf="!trackService.playing">play_circle_outline</i>
    <i class="material-icons" *ngIf="trackService.playing">pause_circle_outline</i>
  </button>

  <div class="speed-control">
      <i class="material-icons add blue-glow" (click)="speed = speed+1">keyboard_arrow_up</i>
    <div class="value">{{speed}}</div>
    <i class="material-icons minus blue-glow" (click)="speed = speed-1">keyboard_arrow_down</i>
  </div>
</div>