@import '../../../style-variables.scss';

.layers {
    background-color: $color-blue;
    color: white;
    height: 100%;
    overflow-x: hidden;
    padding-top: 20px;

    .header {
        font-size: 5vw;
        padding-bottom: 15px;
        padding-top: 15px;
        text-shadow: 0px 0px 15px darken(white, 10%);
        width: 100%;
        text-align: center;
    }

    .layer {
        width: 70%;
        padding: 10px;
        font-size: 28px;
        margin-bottom: 20px;
        position: relative;
        border-radius: 0px 5px 5px 0px;

        div {
            text-shadow: 0px 0px 10px white;
            padding-left: 15px;
            display: inline-block;
            width: calc(100% - 90px);
            height: 100%;
        }

        button{
            position: absolute;
            right: 0px;
            top: 0px;
            color: white;
            border: none;
            height: 100%;
            background-color: transparent;
            cursor: pointer;

            i {
                font-size: 30px;
                text-shadow: 0px 0px 15px darken(white, 10%);
            }
        }

        button:focus {
            outline:none;
        }
    }

    .selected {
        // font-size: 60px;
    }

    .playing {
        width: 85%;
    }
}

.add-layer-btn {
    text-align: center;
    font-size: 30px;
    background-color: rgba(255,255,255, 0.1);
    width: 85%;
    border-radius: 0px 5px 5px 0px;
    padding: 10px;
}

.blue {
    background-color: $color-neon-blue;
    box-shadow: 0px 0px 15px 6px darken($color-neon-blue, 10%);
}

.pink {
    background-color: $color-neon-pink;
    box-shadow: 0px 0px 15px 6px darken($color-neon-pink, 10%);
}

.mint {
    background-color: $color-neon-mint;
    box-shadow: 0px 0px 15px 6px darken($color-neon-mint, 10%);
}

.purple {
    background-color: $color-neon-purple;
    box-shadow: 0px 0px 15px 6px darken($color-neon-purple, 10%);
}

.orange {
    background-color: $color-neon-orange;
    box-shadow: 0px 0px 15px 6px darken($color-neon-orange, 10%);
}
