@import '../../../style-variables.scss';

.layers {
    background-color: $color-blue;
    color: white;
    height: 100%;
    padding: 15px;

    .header {
        font-size: 2em;
        padding-bottom: 15px;
    }

    .layer {
        width: 100%;
        text-align: center;
        padding: 10px;
        font-size: 60px;
        margin: 5px;
    }
}

