$color-blue: #24313E;
$color-dark-gray: #1C2126;
$color-light-blue: #284051;

$color-neon-pink: rgb(255, 0, 128);
$color-neon-orange: rgb(255, 128, 0);
$color-neon-green: rgb(128, 255, 0);
$color-neon-mint: rgb(0, 255, 128);
$color-neon-purple: rgb(128, 0, 255);
$color-neon-blue: rgb(0, 128, 255);
